:local {
  .backButton {
      position: absolute;
      top: 30%;
      left: 20px;
  }

  .counter {
    position: absolute;
    top: 20%;
    left: 250px;
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: -.025em;
    text-align:center;
  }

  .btnGroup {
    position: absolute;
    top: 50%;
    margin: 0 auto;
  }

  .btn {
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-family: Arial, Helvetica, Helvetica Neue;
  }

  .btn:hover {
    background-color: #555;
    opacity: .7;
  }
}
