:local {
    .backButton {
        margin-left: 20px;
        margin-top: 5px;
    }
    .web-view {
        height: 50%;
        margin: 50px;
    }
    h2 {
        margin-left: 15px;
        margin-top:15px;
    }
}
